In [6]:
"""
There is a list of most active Stocks on Yahoo Finance https://finance.yahoo.com/most-active.
You need to compose several sheets based on data about companies from this list.
To fetch data from webpage you can use requests lib. To parse html you can use beautiful soup lib or lxml.
Sheets which are needed:
1. 5 stocks with most youngest CEOs and print sheet to output. You can find CEO info in Profile tab of concrete stock.
    Sheet's fields: Name, Code, Country, Employees, CEO Name, CEO Year Born.
2. 10 stocks with best 52-Week Change. 52-Week Change placed on Statistics tab.
    Sheet's fields: Name, Code, 52-Week Change, Total Cash
3. 10 largest holds of Blackrock Inc. You can find related info on the Holders tab.
    Blackrock Inc is an investment management corporation.
    Sheet's fields: Name, Code, Shares, Date Reported, % Out, Value.
    All fields except first two should be taken from Holders tab.


Example for the first sheet (you need to use same sheet format):
==================================== 5 stocks with most youngest CEOs ===================================
| Name        | Code | Country       | Employees | CEO Name                             | CEO Year Born |
---------------------------------------------------------------------------------------------------------
| Pfizer Inc. | PFE  | United States | 78500     | Dr. Albert Bourla D.V.M., DVM, Ph.D. | 1962          |
...

About sheet format:
- sheet title should be aligned to center
- all columns should be aligned to the left
- empty line after sheet

Write at least 2 tests on your choose.
Links:
    - requests docs: https://docs.python-requests.org/en/latest/
    - beautiful soup docs: https://www.crummy.com/software/BeautifulSoup/bs4/doc/
    - lxml docs: https://lxml.de/
"""
import requests
from bs4 import BeautifulSoup as soup
import pandas as pd 
import bisect

def get_page(url):
    """Function to return html from specified url."""
    web_page = soup(requests.get(url, headers={'User-Agent': 'Custom'}).content, "html.parser")
    return web_page.find('body')

def get_active_stock_count():
    """Function to return total number of currently active stocks."""
    stock_page = get_page('https://finance.yahoo.com/most-active')
    stock_container = stock_page.select_one('#fin-scr-res-table div')
    stock_count_container = stock_container.select_one('div > span + span > span').text
    return int(stock_count_container.split('of')[1].replace('results', '').strip())

def generate_stock_symbols_lst():
    active_stock_count = get_active_stock_count() 
    body = get_page(f'https://finance.yahoo.com/most-active?offset=0&count={active_stock_count}') # Getting the page with all of the most active stocks
    quote_links = body.select('a[data-test="quoteLink"]') # Making a list of all the stock codes
    return [link.text for link in quote_links]

In [7]:
holders_page = get_page(f"https://finance.yahoo.com/quote/BLK/holders?p=BLK")
institutional_holders_table = holders_page.select_one('#Col1-1-Holders-Proxy > section > div + div > div + div + div > table > tbody')
mutual_holders_table = holders_page.select_one('#Col1-1-Holders-Proxy > section > div + div > div + div + div + div > table > tbody')

for m_holder in mutual_holders_table.select('tr'):
    m_value = int(m_holder.select_one('td:nth-last-child(1)').text.replace(",",""))
    m_perc_out = m_holder.select_one('td:nth-last-child(2)').text
    m_date_rep = m_holder.select_one('td:nth-last-child(3) > span').text
    m_shares = m_holder.select_one('td:nth-last-child(4)').text

for i_holder in institutional_holders_table.select('tr'):
    i_value = int(i_holder.select_one('td:nth-last-child(1)').text.replace(",",""))
    i_perc_out = i_holder.select_one('td:nth-last-child(2)').text
    i_date_rep = i_holder.select_one('td:nth-last-child(3) > span').text
    i_shares = i_holder.select_one('td:nth-last-child(4)').text

val: 1781118975, perc:1.77%, date:Dec 30, 2022, shares:2,652,705

In [8]:
"""Function to generate sheets."""
stock_symbols = generate_stock_symbols_lst()
required_fields = {"youngest_ceos":{"names": [], "symbols": [],"country":[], "employees":[], "ceo_names":[], "ceo_dobs":[]}, "52_week_change": {"names": [], "symbols": [], "52_change":[], "cash":[]}, "largest_holds":{"names": [], "symbols": [], "holders":[],"shares":[], "date_reported":[], "%_out":[], "values":[]}}

stock_5_youngest_lst = []
stats_10_best_change_lst = []
holders_10_largest_lst = []

for symbol in stock_symbols:
    # Selecting profile section and extracting the stock name, country and number of employees
    profile_page = get_page(f"https://finance.yahoo.com/quote/{symbol}/profile?p={symbol}")
    asset_profile = profile_page.select_one('div[data-test="asset-profile"] [data-test="qsp-profile"]')

    stock_name = asset_profile.select_one('h3').text.strip()
    stock_country = asset_profile.select_one('p a').previous_sibling.previous_sibling
    stock_num_employees = asset_profile.select_one('p:last-of-type span:last-of-type').text.replace(',', '')

    stats_page = get_page(f"https://finance.yahoo.com/quote/{symbol}/key-statistics?p={symbol}")
    stats_table = stats_page.select_one('[data-test="qsp-statistics"] :nth-child(2) > div + div table')
    stats_52_week_change = float(stats_table.select_one('tbody tr:nth-child(2) td:nth-child(2)').text.replace('%', ''))
    stats_cash = stats_page.select_one('#Col1-0-KeyStatistics-Proxy > section > div.Mstart\(a\).Mend\(a\) > div:nth-child(3) > div > div:nth-child(5) > div > div > table > tbody > tr.Bxz\(bb\).H\(36px\).BdY.Bdc\(\$seperatorColor\) > td.Fw\(500\).Ta\(end\).Pstart\(10px\).Miw\(60px\)').text

    # Getting the table with information about all the CEOs for the stock
    stock_ceo_table = profile_page.select_one('section.quote-subsection table tbody')

    if(len(stats_10_best_change_lst) < 10):
        bisect.insort(stats_10_best_change_lst, (-float(stats_52_week_change), stock_name, symbol, stats_cash))
    elif -stats_52_week_change < stats_10_best_change_lst[-1][0]:
        stats_10_best_change_lst.pop()
        bisect.insort(stats_10_best_change_lst, (-float(stats_52_week_change), stock_name, symbol, stats_cash))

    for stock_ceo in stock_ceo_table.select('tr'):
        stock_ceo_name = stock_ceo.select_one('td:first-child').text
        stock_ceo_dob = stock_ceo.select_one('td:nth-last-child(1)').text
        if stock_ceo_dob != "N/A":
            stock_ceo_dob = int(stock_ceo_dob)
            if len(stock_5_youngest_lst) < 5:
                bisect.insort(stock_5_youngest_lst, (-stock_ceo_dob, stock_name, symbol, stock_country, stock_num_employees, stock_ceo_name))
            elif -stock_ceo_dob < stock_5_youngest_lst[-1][0]:
                stock_5_youngest_lst.pop()
                bisect.insort(stock_5_youngest_lst, (-stock_ceo_dob, stock_name, symbol, stock_country, stock_num_employees, stock_ceo_name))

holders_page = get_page(f"https://finance.yahoo.com/quote/BLK/holders?p=BLK")
institutional_holders_table = holders_page.select_one('#Col1-1-Holders-Proxy > section > div + div > div + div + div > table > tbody')
mutual_holders_table = holders_page.select_one('#Col1-1-Holders-Proxy > section > div + div > div + div + div + div > table > tbody')

for m_holder in mutual_holders_table.select('tr'):
    m_value = m_holder.select_one('td:nth-last-child(1)').text
    m_perc_out = m_holder.select_one('td:nth-last-child(2)').text
    m_date_rep = m_holder.select_one('td:nth-last-child(3) > span').text
    m_shares = int(m_holder.select_one('td:nth-last-child(4)').text.replace(",",""))
    m_hold_name = m_holder.select_one('td:nth-last-child(5)').text
    
    if(len(holders_10_largest_lst) < 10):
        bisect.insort(holders_10_largest_lst, (-m_shares, 'BlackRock, Inc.', 'BLK', m_value, m_date_rep, m_perc_out, m_hold_name))
    elif -m_shares < holders_10_largest_lst[-1][0]:
        holders_10_largest_lst.pop()
        bisect.insort(holders_10_largest_lst, (-m_shares, 'BlackRock, Inc.', 'BLK', m_value, m_date_rep, m_perc_out, m_hold_name))

for i_holder in institutional_holders_table.select('tr'):
    i_value = i_holder.select_one('td:nth-last-child(1)').text
    i_perc_out = i_holder.select_one('td:nth-last-child(2)').text
    i_date_rep = i_holder.select_one('td:nth-last-child(3) > span').text
    i_shares = int(i_holder.select_one('td:nth-last-child(4)').text.replace(",",""))
    i_hold_name = i_holder.select_one('td:nth-last-child(5)').text

    if(len(holders_10_largest_lst) < 10):
        bisect.insort(holders_10_largest_lst, (-i_shares, 'BlackRock, Inc.', 'BLK', i_value, i_date_rep, i_perc_out, i_hold_name))
    elif -i_shares < holders_10_largest_lst[-1][0]:
        holders_10_largest_lst.pop()
        bisect.insort(holders_10_largest_lst, (-i_shares, 'BlackRock, Inc.', 'BLK', i_value, i_date_rep, i_perc_out, i_hold_name))

for ceo in stock_5_youngest_lst:
    young_ceo_dob = -ceo[0]
    young_ceo_stk_name = ceo[1]
    young_ceo_symbol = ceo[2]
    young_ceo_country = ceo[3]
    young_ceo_num_empl = ceo[4]
    young_ceo_name = ceo[5]

    required_fields["youngest_ceos"]["names"].append(young_ceo_stk_name)
    required_fields["youngest_ceos"]["symbols"].append(young_ceo_symbol)

    required_fields["youngest_ceos"]["country"].append(young_ceo_country)
    required_fields["youngest_ceos"]["employees"].append(young_ceo_num_empl)
    required_fields["youngest_ceos"]["ceo_names"].append(young_ceo_name)
    required_fields["youngest_ceos"]["ceo_dobs"].append(young_ceo_dob)

for stat in stats_10_best_change_lst:
    stat_week_change = -stat[0]
    stat_stk_name = stat[1]
    stat_symbol = stat[2]
    stat_cash = stat[3]

    required_fields["52_week_change"]["names"].append(stat_stk_name)
    required_fields["52_week_change"]["symbols"].append(stat_symbol)

    required_fields["52_week_change"]["52_change"].append(stat_week_change)
    required_fields["52_week_change"]["cash"].append(stat_cash)

for hold in holders_10_largest_lst:
    hold_shares = -hold[0]
    hold_stk_name = hold[1]
    hold_symbol = hold[2]
    hold_val = hold[3]
    hold_date = hold[4]
    hold_perc = hold[5]
    holder_name = hold[6]

    required_fields["largest_holds"]["names"].append(hold_stk_name)
    required_fields["largest_holds"]["symbols"].append(hold_symbol)

    required_fields['largest_holds']['shares'].append(hold_shares)
    required_fields['largest_holds']['date_reported'].append(hold_date)
    required_fields['largest_holds']['%_out'].append(hold_perc)
    required_fields['largest_holds']['values'].append(hold_val)
    required_fields['largest_holds']['holders'].append(holder_name)

youngest_ceos_df = pd.DataFrame({'Name': required_fields["youngest_ceos"]["names"], 'Code': required_fields["youngest_ceos"]["symbols"], 'Country': required_fields["youngest_ceos"]["country"], 'Employees': required_fields["youngest_ceos"]["employees"], 'CEO Name': required_fields["youngest_ceos"]["ceo_names"], 'CEO Year Born':required_fields["youngest_ceos"]["ceo_dobs"]})
week_change_df = pd.DataFrame({'Name': required_fields["52_week_change"]["names"], 'Code': required_fields["52_week_change"]["symbols"], '52-Week Change': required_fields["52_week_change"]["52_change"], 'Total Cash': required_fields["52_week_change"]["cash"]})
largest_holders_df = pd.DataFrame({'Name': required_fields['largest_holds']['names'], 'Code': required_fields['largest_holds']['symbols'], 'Holders': required_fields["largest_holds"]["holders"], 'Shares': required_fields["largest_holds"]['shares'], 'Date Reported': required_fields['largest_holds']['date_reported'], '% Out': required_fields['largest_holds']['%_out'], 'Values': required_fields['largest_holds']['values']})

largest_holders_df.to_csv('largest_holders.csv', index=False)
largest_holders_df

{'youngest_ceos': {'names': [], 'symbols': [], 'country': [], 'employees': [], 'ceo_names': [], 'ceo_dobs': []}, '52_week_change': {'names': [], 'symbols': [], '52_change': [], 'cash': []}, 'largest_holds': {'names': [], 'symbols': [], 'holders': [], 'shares': [], 'date_reported': [], '%_out': [], 'values': []}}
[(-61.03, 'PDD Holdings Inc.', 'PDD', '149.44B'), (-34.2, 'National Instruments Corporation', 'NATI', '142.1M'), (-30.89, 'PG&E Corporation', 'PCG', '734M'), (-22.37, 'NVIDIA Corporation', 'NVDA', '13.3B'), (-9.69, 'C3.ai, Inc.', 'AI', '772.44M'), (0.27, 'Alibaba Group Holding Limited', 'BABA', '519.21B'), (0.53, 'Meta Platforms, Inc.', 'META', '40.74B'), (1.67, 'Microsoft Corporation', 'MSFT', '99.5B'), (3.8, 'Advanced Micro Devices, Inc.', 'AMD', '5.86B'), (5.63, 'Apple Inc.', 'AAPL', '51.36B')]
{'youngest_ceos': {'names': ['Coinbase Global, Inc.', 'JD.com, Inc.', 'Meta Platforms, Inc.', 'Shopify Inc.', 'Riot Platforms, Inc.'], 'symbols': ['COIN', 'JD', 'META', 'SHOP', 'RIOT'], 'country': ['United States', 'China', 'United States', 'Canada', 'United States'], 'employees': ['4510', '', '86482', '11600', '489'], 'ceo_names': ['Mr. Frederick Ernest Ehrsam III', 'Ms. Pang  Zhang', 'Ms. Susan J. S. Li', 'Ms. Brittany  Forsyth', 'Mr. Jason  Les'], 'ceo_dobs': [1989, 1989, 1987, 1987, 1986]}, '52_week_change': {'names': ['PDD Holdings Inc.', 'National Instruments Corporation', 'PG&E Corporation', 'NVIDIA Corporation', 'C3.ai, Inc.', 'Alibaba Group Holding Limited', 'Meta Platforms, Inc.', 'Microsoft Corporation', 'Advanced Micro Devices, Inc.', 'Apple Inc.'], 'symbols': ['PDD', 'NATI', 'PCG', 'NVDA', 'AI', 'BABA', 'META', 'MSFT', 'AMD', 'AAPL'], '52_change': [61.03, 34.2, 30.89, 22.37, 9.69, -0.27, -0.53, -1.67, -3.8, -5.63], 'cash': ['149.44B', '142.1M', '734M', '13.3B', '772.44M', '519.21B', '40.74B', '99.5B', '5.86B', '51.36B']}, 'largest_holds': {'names': ['BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.', 'BlackRock, Inc.'], 'symbols': ['BLK', 'BLK', 'BLK', 'BLK', 'BLK', 'BLK', 'BLK', 'BLK', 'BLK', 'BLK'], 'holders': ['Vanguard Group, Inc. (The)', 'Blackrock Inc.', 'State Street Corporation', 'Bank of America Corporation', 'Temasek Holdings (Private) Limited', 'Vanguard Total Stock Market Index Fund', 'Vanguard 500 Index Fund', 'Charles Schwab Investment Management, Inc.', 'Morgan Stanley', 'JP Morgan Chase & Company'], 'shares': [13580827, 10455014, 6319916, 5184415, 5092825, 4274388, 3417561, 3335602, 3174621, 3015533], 'date_reported': ['Dec 30, 2022', 'Dec 30, 2022', 'Dec 30, 2022', 'Dec 30, 2022', 'Dec 30, 2022', 'Sep 29, 2022', 'Sep 29, 2022', 'Dec 30, 2022', 'Dec 30, 2022', 'Dec 30, 2022'], '%_out': ['9.04%', '6.96%', '4.21%', '3.45%', '3.39%', '2.85%', '2.28%', '2.22%', '2.11%', '2.01%'], 'values': ['9,125,432,957', '7,025,089,806', '4,246,572,742', '3,483,589,880', '3,422,047,353', '2,872,110,890', '2,296,378,842', '2,241,307,721', '2,133,138,953', '2,026,242,158']}}

,Name,Code,Holders,Shares,Date Reported,% Out,Values
0,"BlackRock, Inc.",BLK,"Vanguard Group, Inc. (The)",13580827,"Dec 30, 2022",9.04%,"9,125,432,957"
1,"BlackRock, Inc.",BLK,Blackrock Inc.,10455014,"Dec 30, 2022",6.96%,"7,025,089,806"
2,"BlackRock, Inc.",BLK,State Street Corporation,6319916,"Dec 30, 2022",4.21%,"4,246,572,742"
3,"BlackRock, Inc.",BLK,Bank of America Corporation,5184415,"Dec 30, 2022",3.45%,"3,483,589,880"
4,"BlackRock, Inc.",BLK,Temasek Holdings (Private) Limited,5092825,"Dec 30, 2022",3.39%,"3,422,047,353"
5,"BlackRock, Inc.",BLK,Vanguard Total Stock Market Index Fund,4274388,"Sep 29, 2022",2.85%,"2,872,110,890"
6,"BlackRock, Inc.",BLK,Vanguard 500 Index Fund,3417561,"Sep 29, 2022",2.28%,"2,296,378,842"
7,"BlackRock, Inc.",BLK,"Charles Schwab Investment Management, Inc.",3335602,"Dec 30, 2022",2.22%,"2,241,307,721"
8,"BlackRock, Inc.",BLK,Morgan Stanley,3174621,"Dec 30, 2022",2.11%,"2,133,138,953"
9,"BlackRock, Inc.",BLK,JP Morgan Chase & Company,3015533,"Dec 30, 2022",2.01%,"2,026,242,158"

In [9]:
youngest_ceos_df.to_csv('youngest_ceos.csv', index=False)
youngest_ceos_df

,Name,Code,Country,Employees,CEO Name,CEO Year Born
0,"Coinbase Global, Inc.",COIN,United States,4510,Mr. Frederick Ernest Ehrsam III,1989
1,"JD.com, Inc.",JD,China,,Ms. Pang Zhang,1989
2,"Meta Platforms, Inc.",META,United States,86482,Ms. Susan J. S. Li,1987
3,Shopify Inc.,SHOP,Canada,11600,Ms. Brittany Forsyth,1987
4,"Riot Platforms, Inc.",RIOT,United States,489,Mr. Jason Les,1986

In [10]:
week_change_df.to_csv('week_change.csv', index=False)
week_change_df

                               Name  Code  52-Week Change Total Cash
0                 PDD Holdings Inc.   PDD           61.03    149.44B
1  National Instruments Corporation  NATI           34.20     142.1M
2                  PG&E Corporation   PCG           30.89       734M
3                NVIDIA Corporation  NVDA           22.37      13.3B
4                       C3.ai, Inc.    AI            9.69    772.44M
5     Alibaba Group Holding Limited  BABA           -0.27    519.21B
6              Meta Platforms, Inc.  META           -0.53     40.74B
7             Microsoft Corporation  MSFT           -1.67      99.5B
8      Advanced Micro Devices, Inc.   AMD           -3.80      5.86B
9                        Apple Inc.  AAPL           -5.63     51.36B